{#
/**
 * @file
 * Default template for block.
 */
#}
{%
set classes = [
  'block',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|clean_class,
  'panel',
  'panel-default',
]
%}
{%
set title_classes = [
  'block__title',
  'panel-title'
]
%}
<div{{ attributes.addClass(classes)|without('id') }}>
  {{ title_prefix }}
  {% if label %}
  <div class="panel-heading">
    <h4{{ title_attributes.addClass(title_classes) }}>{{ label }}</h4>
  </div>
  {% endif %}
  {{ title_suffix }}
  <div class="block__content panel-body">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
</div>
