// Typography
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

html {
  font-size: 14px;

  @include breakpoint(md) {
    font-size: 16px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

// Headings
// -----------------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0;
}

h2 {
  margin-top: 0;
}

h4 {
  font-weight: 700;
  font-size: 1.25em;
}

// Icons
// -----------------------------------------------------------------------------
.fa-instagram-square {
  @extend .fa-instagram;
}

