{#
/**
 * @file
 * Theme override for displaying a single search result.
 */
#}
{{ title_prefix }}
<h4{{ title_attributes }}>
  <a href="{{ url }}">{{ title }}</a>
</h4>
{{ title_suffix }}
{% if snippet %}
  <p{{ content_attributes }}>{{ snippet }}</p>
{% endif %}
{% if info %}
  <p>{{ info }}</p>
{% endif %}
