{#
/**
 * @file
 * Template for Resources field.
 */
#}
{% if items|length %}
  <div class="resources">
    {% if not label_hidden %}
      <span>{{ label }}</span>
    {% endif %}

    <ul>
      {% for item in items %}
        <li>{{ item.content }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
