{#
/**
 * @file
 * Template for a CiviCRM event.
 */
#}
<article class="civicrm-event civicrm-event--full">
  <section class="slice slice--event-intro pt-0">
    <div class="container">
      {% if content.summary %}
        <div class="mb-2">
          {{ content.summary }}
        </div>
      {% endif %}

      <div class="slice__content">
        <div class="info-boxes">
          {% if content.start_date or content.end_date %}
            <div class="info-box mh">
              <h4 class="info-box__title">
                <i class="fa fa-clock-o"></i>
                {{ "When"|t }}
              </h4>

              <div class="info-box__content">
                {% if content.start_date %}
                  <div class="text-center">
                    {{ content.start_date }}
                    {% if content.end_date %}
                      <br/>
                      {{ "to"|t }}
                      <br/>
                      {{ content.end_date }}
                    {% endif %}
                  </div>
                {% endif %}

                {% if content.upcoming and content.ical_url %}
                  <a href="{{ content.ical_url }}" class="info-box__link share-links__link ical mt-1">
                    <i class="fa fa-calendar"></i> Add to calendar
                  </a>
                {% endif %}
              </div>
            </div>
          {% endif %}

          {% if content.address %}
            <div class="info-box mh">
              <h4 class="info-box__title">
                <i class="fa fa-map-marker"></i>
                {{ "Where"|t }}
              </h4>

              <div class="info-box__content">
                {% if content.address %}
                  {% if content.location_link %}
                    <a href="{{ content.location_link }}" target="_blank">
                  {% endif %}

                  <address class="mb-0">
                    {{ content.address }}
                  </address>

                  {% if content.location_link %}
                    <i class="fa fa-arrow-right"></i>
                    </a>
                  {% endif %}
                {% endif %}

                {% if content.is_map %}
                  <a href="#slice-map" class="info-box__link share-links__link map mt-1">
                    <i class="fa fa-map-marker"></i> {{ "See map" }}
                  </a>
                {% endif %}
              </div>
            </div>
          {% endif %}

          {% if content.field_roundearth_events_locphoto[0] %}
            <div class="info-box mh visible-xs visible-sm">
              <h4 class="info-box__title">
                <i class="fa fa-th-large"></i>
                {{ "Venue Photos"|t }}
              </h4>
              {{ content.field_roundearth_events_locphoto }}
            </div>
          {% endif %}

          {% if content.field_roundearth_events_locphoto[0] %}
            <div class="info-box">
              <h4 class="info-box__title">
                <i class="fa fa-th-large"></i>
                {{ "Venue Photos"|t }}
              </h4>
              {{ content.field_roundearth_events_locphoto }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>


  <section class="jump-links">
    <div class="container">
      {{ attach_library('pangea/jump_links') }}
    </div>

    <div class="jump-links__select visible-xs">
      <select class="form-control"></select>
      <i class="fa fa-caret-down"></i>
    </div>
  </section>

  {% if content.description['#text'] or content.field_roundearth_events_info[0] %}
    <section class="slice slice--event-about" id="slice-about" data-title="{{ "About"|t }}" data-icon="align-left">
      <div class="container">
        <h2 class="slice__title text-center">{{ "About the Event"|t }}</h2>

        {% if content.field_roundearth_events_info %}
          <div class="slice__content">
            {% if content.description %}
              <div class="text-left">
                {{ content.description }}
              </div>
            {% endif %}
            {{ content.field_roundearth_events_info }}
          </div>
        {% endif %}
      </div>
    </section>
  {% endif %}

  {% if content.field_roundearth_events_program[0] %}
    <section class="slice slice--event-programme" id="slice-programme" data-title="{{ "Programme"|t }}"  data-icon="list">
      <div class="container">
        <div class="text-center">
          <h2 class="slice__title">{{ "Programme"|t }}</h2>
        </div>

        <div class="slice__content">
          {{ content.field_roundearth_events_program }}
        </div>
      </div>
    </section>
  {% endif %}

  {% if content.field_roundearth_events_feedback[0] %}
    <section class="slice slice--event-feedback" id="slice-feedback" data-title="{{ "Feedback"|t }}" data-icon="comment">
      <div class="container">
        <div class="text-center">
          <h2 class="slice__title">{{ "Feedback"|t }}</h2>

          {% if content.field_roundearth_events_feednote %}
            <div class="slice__lead">
              {{ content.field_roundearth_events_feednote }}
            </div>
          {% endif %}
        </div>

        <div class="slice__content">
          {{ content.field_roundearth_events_feedback }}
        </div>
      </div>
    </section>
  {% endif %}

  {% if content.is_monetary and content.prices|length %}
    <section class="slice slice-event-registration slice--primary pb-0" id="slice-registration" data-title="{{ "Registration"|t }}" data-icon="user">
      <div class="container">
        <div class="text-center">
          <h2 class="slice__title">{{ "Registration"|t }}</h2>

          {% if content.intro_text %}
            <div class="slice__lead color--white">{{ content.intro_text }}</div>
          {% endif %}
        </div>

        {% if content.registration_start_date %}
          <div class="text-center">
            {{ content.registration_start_date }}

            {% if content.registration_end_date %}
              - {{ content.registration_end_date }}
            {% endif %}
          </div>
        {% endif %}

        {% if content.prices|length %}
          <div class="slice__content">
            <div class="registration-boxes">
              {% for price in content.prices %}
                {% if price.is_active %}
                  <div class="registration-box {{ price.is_default ? 'registration-box--default'}}">
                    {% if price.price_formatted %}
                      <p class="registration-box__price">
                        {{ price.price_formatted }}

                        {% if price.tax_amount %}
                          <span class="registration-box__tax">
                          + {{ price.tax_amount }} {{ price.tax_term }}
                        </span>
                        {% endif %}
                      </p>
                    {% endif %}

                    {% if price.label %}
                      <p class="registration-box__label">{{ price.label }}</p>
                    {% endif %}

                    {% if content.is_online_registration %}
                      <div class="registration-box__footer">
                        <a href="{{ content.online_registration_url }}" class="btn registration-box__button">{{ content.registration_link_text }}</a>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>

            {% if content.footer_text %}
              <div class="color--white text-center mt-2">{{ content.footer_text }}</div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </section>
  {% endif %}

  {% if content.field_roundearth_events_booking[0] or content.field_roundearth_events_cancel[0] %}
    <section class="slice slice--event-info slice--primary pt-0" id="slice-info" data-title="{{ "Contact"|t }}" data-icon="phone">
      <div class="container">
        <div class="slice__content">
          <div class="row">
            {% if content.field_roundearth_events_booking[0] or content.is_online_registration %}
              <div class="col-md-6">
                <div class="info-box mh">
                  <h4 class="info-box__title">{{ "Contact"|t }}</h4>

                  {% if content.field_roundearth_events_booking %}
                    {{ content.field_roundearth_events_booking }}
                  {% endif %}
                </div>
              </div>
            {% endif %}

            {% if content.field_roundearth_events_cancel[0] %}
              <div class="col-md-6">
                <div class="info-box mh">
                  <h4 class="info-box__title">{{ "Cancellations"|t }}</h4>
                  {{ content.field_roundearth_events_cancel }}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% if content.is_map and content.google_map %}
    <section class="slice slice--event-map pt-0 pb-0" id="slice-map" data-title="{{ "Map"|t }}" data-icon="map-marker">
      {{ content.google_map }}
    </section>
  {% endif %}

  {% if content.is_share %}
    <section class="slice slice--event-share slice--white" id="slice-share" data-title="{{ "Share"|t }}" data-icon="share-alt">
      <div class="container">
        <div class="text-center">
          <h2 class="slice__title">{{ "Share this Event"|t }}</h2>
          <p
            class="slice__lead">{{ "Please help us by letting your colleagues and friends know about our event. Thank you."|t }}</p>
        </div>

        <div class="slice__content">
          <div class="share-links">
            <div class="share-links__links">
              {% if content.social_media_links %}
                <ul class="social-links">
                  {% for name, link in content.social_media_links %}
                    <li>
                      <a href="{{ link.url }}" class="share-links__link {{ name }}"
                         target="_blank">
                        <i class="fa fa-{{ link.icon }}"></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}

              {% if content.event_url or content.ical_url %}
                <ul>
                  {% if content.event_url %}
                    <li>
                      <button class="share-links__link link" data-toggle="collapse"
                              data-target=".share-links__form">
                        <i class="fa fa-link"></i> {{ "Share link"|t }}
                      </button>
                    </li>
                  {% endif %}
                </ul>
              {% endif %}
            </div>

            {% if content.event_url %}
              <div class="share-links__form collapse">
                <input type="text"
                       onclick="this.setSelectionRange(0, this.value.length)"
                       class="form-control" value="{{ content.event_url }}">
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}
</article>
