// Slice: Header
// -----------------------------------------------------------------------------
.slice {

  &__header {
    text-align: center;
  }

  &__header {

    > h2 {
      text-transform: uppercase;
      font-weight: 600;
      line-height: 1.2em;
      letter-spacing: -.025em;

      @include breakpoint(md) {
        font-size: 3em;
      }
    }

    p {
      margin-top: 1em;
      font-size: 1em;
    }
  }
}
