{#
/**
 * @file
 * Template for a menu rendered as breadcrumb.
 */
#}
{%
  set menu_classes = [
    'breadcrumb',
  ]
%}

<ol{{ attributes.addClass(menu_classes) }}>
  {% for item in items %}
    <li>
      <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
  {% endfor %}
</ol>
