// Branding
// -----------------------------------------------------------------------------
.branding {
  @include clearfix;

  a {
    display: inline-block;
  }

  img,
  span {

    @include breakpoint(sm) {
      display: inline-block;
    }
  }

  span {
    display: none;

    @include breakpoint(sm) {
      display: inline-block;
      font-size: 1.8em;
      font-weight: 700;
      position: relative;
      top: 5px;
    }
  }

  img {
    max-height: 50px;
    width: auto;
  }

  img + span {
    margin-left: .5em;
  }

  &--mobile {
    display: inline-block;
    margin: 2px $grid-gutter-width / 2;
    padding: .25em;

    @include breakpoint(sm) {
      display: none;
    }

    .branding {
      margin-top: 4px;

      a {
        display: inline-block;
      }
    }

    img {
      height: 35px;
      width: auto;
    }
  }
}
