// Component: Resources
// -----------------------------------------------------------------------------
.resources {
  background-color: $gray-lighter;
  padding: 1rem;
  max-width: 350px;
  margin-top: 2rem;
  margin-bottom: 2rem;

  span {
    font-weight: bold;
  }

  ul {
    margin: 1rem 0 0;
    padding: 0 0 0 .1rem;

    li {
      list-style: none outside none;

      + li {
        margin-top: .5rem;
      }
    }

    a {
      color: $brand-secondary;

      &:hover {
        color: $brand-info;
      }
    }
  }
}
