.info-section {
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  margin-top: 2rem;

  @include breakpoint(sm) {
    flex-direction: row;
    margin-top: 0;
  }

  &__title,
  &__content {
    position: relative;

    &:after {
      background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(210,210,210,.65) 50%,rgba(0,0,0,0) 100%) rgba(0,0,0,0);
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 1;
    }
  }

  &__title {
    font-size: 1rem;
    line-height: 140%;
    color: $brand-primary;
    margin: 0 0 1rem;

    @include breakpoint(sm) {
      border-right: 2px solid $gray-light;
      width: 25%;
      padding: 1.5rem 2rem 1rem 0;
      margin: 0;
    }

    &:after {
      display: none;

      @include breakpoint(sm) {
        display: block;
      }
    }
  }

  &__content {

    @include breakpoint(sm) {
      width: 85%;
      padding: 1rem 2rem;
    }
  }

  &:first-child {

    .info-section__title,
    .info-section__content {
      padding-top: 0;
    }
  }

  &:last-child {

    .info-section__title,
    .info-section__content {

      &:after {
        display: none;
      }
    }
  }
}
